


.banner{
    display: flex;
    text-align: center;
    margin-top: 100%;
}

.post-detail-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: 10%;
    margin: 10px auto;
    padding: 20px;

    .post-header {
        
        max-width: 100%;
        margin-top: 50px;
        margin-bottom: 20px;
        width: 100%;
        height: 30%;

        .post-title {
            font-size: 24px;
            padding: 20px;
            margin-top: 20% ;
            
            text-align: center;
        }

        .post-author {
            font-size: 14px;
            color: #0a0000;
        }
    }

    .post-content {
        
        
        margin-bottom: 20px;

        .post-image {
            max-width: 100%;
            height: 500px;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            color: #0a0000;
        }
    }

    .comments {
        margin-bottom: 20px;

        h3 {
            font-size: 20px;
            margin-top: 60px;
            margin-bottom: 10px;
            color: #0a0000;
            
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                margin-bottom: 10px;
                padding: 10px;
                border: 1px solid transparent;

                p {
                    font-size: 16px;
                    margin-top: 20px;
                    margin-bottom: 5px;
                    color: black;
                }
            }
        }

        form {
            margin-top: 20px;

            input[type="text"] {
                width: calc(100% - 80px);
                padding: 8px;
                font-size: 16px;
            }

            button[type="submit"] {
                width: 80px;
                padding: 8px;
                font-size: 16px;
            }
        }
    }

    .like-button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        border: transparent;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
        }
    }
}

.Edit-button {
    
    padding: 5px;
    border: transparent;
    color: #abb1b8;
}

.Delete-button{
    border: transparent;
    color: #abb1b8;
}

.moreComments {
    border: transparent;
    color: #abb1b8;
}

