body {
  overflow-y: auto;
}

.my-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  /* 페이지 상단에 패딩 추가 */

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    // position: fixed; /* 상단에 고정 */
    top: 20px;
    /* 페이지 상단에서의 거리 조절 */
    z-index: 10;
    /* 다른 요소 위에 위치하도록 설정 */
    padding: 35px;
    /* 프로필 내용과 프로필 박스 경계 사이의 간격을 조정 */
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 15px;
    /* 박스의 모서리를 둥글게 만듦 */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    /* 그림자 추가 */
    transition: transform 0.5s ease; // 커서 반응 시간
    overflow: hidden;
    /* 자식 요소가 부모 요소를 넘어서지 않도록 합니다 */

    .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
      cursor: pointer;
    }

    .nickname {
      font-size: 24px;
      margin-bottom: 5px;
    }

    .one-liner {
      color: #888;
    }

    .follow-counts {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      .follower-count,
      .following-count {
        margin: 0 10px;
        font-size: 14px;
      }
    }

    .settings-buttons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      width: 100%;

      .settings-button,
      .password-button {
        margin: 0 10px;
        padding: 10px 20px;
        font-size: 16px;
      }
    }
  }

  .posts-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 1600px;
    width: 100%;
    max-width: 1300px;
    margin-top: 100px;
    /* 프로필 섹션의 높이 만큼 아래로 */
    justify-content: center;
    /* 게시글 가운데 정렬 */

    .post-card {
      display: flex;
      flex-direction: column;
      z-index: 10;

      .post-image {
        width: 300px;
        height: 300px;
       
        cursor: pointer;
      }
    }
  }
}

.error-message {
  color: red;
}