html {
  height: 100%;
  overflow-y: auto; /* 수직 스크롤바가 나타나도록 설정 */
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* 수직 스크롤바가 나타나도록 설정 */
}


.my-page {
  
    display: flex;
    flex-direction: column;
    padding-top: 250px;
    width: 100vw; /* 뷰포트 너비로 설정하여 화면에 꽉 차게 만듦 */
  

  .profile {
   
    
   
   
    
    top: 20px;
    left: 50%;
    z-index: 100;
    padding: 35px;
    width: 30%; /* 고정된 너비 */
    margin-top: 200px;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    

    .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
      cursor: pointer;
    }

    .nickname {
      font-size: 24px;
      margin-bottom: 5px;
    }

    .one-liner {
      color: #888;
    }

    .follow-counts {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      .follower-count,
      .following-count {
        margin: 0 10px;
        font-size: 14px;
      }
    }

    .settings-buttons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      width: 100%;

      .settings-button,
      .password-button {
        margin: 0 10px;
        padding: 10px 20px;
        font-size: 16px;
      }
    }
  }

  .posts-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 1600px;
    width: 100%;
    margin-top: 100px;
    justify-content: center;
    overflow-y: auto; 

    .post-card {
      display: flex;
      flex-direction: column;
      z-index: 10;

      .post-image {
        width: 300px;
        height: 300px;
       
        cursor: pointer;
      }
    }
  }
}

.error-message {
  color: red;
}
